Source: zynthian-quick-components
Section: misc
Priority: optional
Maintainer: Leszek Lesner <leszek@zevenos.com>
Build-Depends: debhelper (>= 11), cmake (>= 3.13), extra-cmake-modules (>= 5.54.0), qtbase5-dev (>= 5.11.3), kirigami2-dev, libzl
Standards-Version: 4.1.3
Homepage: https://github.com/zynthbox/zynthian-quick-components

Package: zynthian-quick-components
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Zynthian QML components
 Qt Quick components for Zynthian
